


  

  .hidden {
    display: none !important;
  }



  .hiddens {
    transform: translateY(100%); /* Slide down */
    opacity: 0;
  }
  
  #playlistsModal {
    display: none; /* Hidden by default */
    opacity: 0;
    transform: translateY(100%); /* Slide in from below */
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  #playlistsModal.active {
    display: block;
    opacity: 1;
    transform: translateY(0); /* Reset position for visible state */
  }
  
  .modal-header button{
    background-color: #181c28;
    color: white;
    box-shadow: none;
    padding: 4PX 0 0 0;
    font-weight: bolder;
    font-size: 1.75rem;
    width: 30PX;
  }
  .modal-header{
    display: flex;
    padding: 0 0 2PX 0;
    align-items: center;
  }

  .modal-content {
    position: fixed;
    left: 0px;
    top: 12rem;
    width: 100%;
    border-radius: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(24 28 40 / var(--tw-bg-opacity));
    padding: 1.25rem;
    max-height: calc(100vh - 12rem); /* Adjust this to make room for scrolling */
    overflow-y: auto; /* Enable scrolling when content overflows */
    scroll-behavior: smooth; /* Smooth scrolling */
  }
  
  /* Optional: You can customize the scrollbar */
  .modal-content::-webkit-scrollbar {
    width: 8px;
  }
  
  .modal-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }